<mat-toolbar class="toolbar">
  <img class="logo-img" src="assets/KTUgramLogo.png" width="200px">
  <div *ngxPermissionsOnly="['USER', 'GUEST']" class="toolbar-items">
    <div class="menu-button-container" routerLinkActive="active-link">
      <a mat-flat-button routerLink="newsfeed" class="menu-button"><mat-icon class="menu-icon">home</mat-icon></a>
    </div>
    <div class="menu-button-container" routerLinkActive="active-link">
      <a mat-flat-button routerLink="following" class="menu-button"><mat-icon class="menu-icon">group</mat-icon></a>
    </div>
    <div class="menu-button-container" routerLinkActive="active-link">
      <a mat-flat-button routerLink="chat" class="menu-button"><mat-icon class="menu-icon">chat</mat-icon></a>
    </div>
    <div class="menu-button-settings-container">
      <a mat-flat-button class="menu-button" [matMenuTriggerFor]="menu" ><mat-icon class="menu-icon">settings</mat-icon></a>
    </div>
    <mat-menu #menu=matMenu>
      <a *ngxPermissionsOnly="['USER']" mat-menu-item routerLink="user-profile">Profile</a>
      <button *ngxPermissionsOnly="['USER']" mat-menu-item (click)="logout()">Logout</button>
      <button *ngxPermissionsOnly="['GUEST']" mat-menu-item (click)="logout()">Login</button>
    </mat-menu>
  </div>
  <div *ngxPermissionsOnly="['ADMIN']" class="toolbar-items">
    <div class="menu-button-container" routerLinkActive="active-link">
      <a mat-flat-button routerLink="newsfeed" class="menu-button"><mat-icon class="menu-icon">home</mat-icon></a>
    </div>
    <div class="menu-button-container" routerLinkActive="active-link">
      <a mat-flat-button routerLink="users" class="menu-button"><mat-icon class="menu-icon">group</mat-icon></a>
    </div>
    <div class="menu-button-settings-container">
      <a mat-flat-button class="menu-button" [matMenuTriggerFor]="menu"><mat-icon class="menu-icon">settings</mat-icon></a>
    </div>
    <mat-menu xPosition="before" #menu=matMenu>
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
