<cdk-virtual-scroll-viewport class="viewport" itemSize="600">
  <div *ngIf="user" class="page-container">
    <div class="content-container">
      <div class="profile-info-container">
        <div class="profile-pic">
          <app-profile-picture [pictureLocation]="user.profile_pic" width="200" height="200"></app-profile-picture>
        </div>
        <div class="profile-name-info-container">
          <span>{{user.person.username}}</span>
          <button mat-flat-button color="primary" (click)="onFollowClicked()">{{isFollowing ? "Following" : "Follow"}}</button>
        </div>
        <div class="profile-social-info-container">
          <span class="posts-amount">{{userPosts.length}}</span>
          <span class="followers-amount">{{followers.length}}</span>
          <span class="following-amount">{{following.length}}</span>
        </div>
        <div class="profile-about-info-container">
          <span>{{user.about}}</span>
        </div>
      </div>
      <div *ngIf="userPosts" class="profile-posts-container">
        <div *ngFor="let post of userPosts">
          <app-post *ngIf="post.id" [comments]="getPostComments(post.id)" (onComment)="onOpenComments($event)" [liked]="isLiked(post.id)" (likedId)="onPostLiked($event)" [post]="post"></app-post>
        </div>
      </div>
    </div>
  </div>
</cdk-virtual-scroll-viewport>
