Options -Indexes
ErrorDocument 404 '<html><head><meta http-equiv="refresh" content="0; URL=../" /></head></html>'
ErrorDocument 403 '<html><head><meta http-equiv="refresh" content="0; URL=../" /></head></html>'