.page-container{
  height: 100%;
  padding: 20px;
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;

}
.add-btn{
  position: sticky !important;
  width: auto;
  height: auto;
  top: 2rem;
  left: 2rem;
  text-align: center;
}

.viewport{
  width: 100%;
  height: calc(100vh - 80px);
  position: relative;
}

.viewport::-webkit-scrollbar{
  width: 8px;
  border-radius: 30px;
  background-color: #3f3f3f;
}
.viewport::-webkit-scrollbar-thumb{
  border-radius: 30px;
  background-color: teal;
}
