<div class="upload-container" appDragNDrop (dropEvent)="onDrop($event)" (click)="onUploadClick(upload)">
  <div *ngIf="uploadedUrl == null">
    <img class="upload-img" src="assets/web/icons/upload_icon.svg">
    <div class="upload-img-container">
      <p>Drag and drop</p>
      <p>or</p>
      <span>Upload an image</span>
    </div>
  </div>
  <div class="uploaded-img" *ngIf="uploadedUrl != null">
    <img [src]="uploadedUrl">
  </div>
</div>
<input #upload (change)="onUpload($event)" id="upld" type="file">
