<h1>Comments</h1>
<p>of: {{id}}</p>

<table mat-table [dataSource]="userComments" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="content">
      <th mat-header-cell *matHeaderCellDef> Content </th>
      <td mat-cell *matCellDef="let element"> {{element.content}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date}} </td>
    </ng-container>
    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef> Time </th>
      <td mat-cell *matCellDef="let element"> {{element.time}} </td>
    </ng-container>
    <ng-container matColumnDef="post">
        <th mat-header-cell *matHeaderCellDef> Post </th>
        <td mat-cell *matCellDef="let element"> {{element.post.title}} </td>
      </ng-container>
      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef> User </th>
        <td mat-cell *matCellDef="let element"> <a class='username-link' routerLink="/main/profile/{{element.user.id}}">{{element.user.person.username}}</a> </td>
      </ng-container>
      <ng-container matColumnDef="reports">
        <th mat-header-cell *matHeaderCellDef> Reports </th >
        <td mat-cell *matCellDef="let element"> 
          <a class="post-button" routerLink="/main/comments/reports/{{element.id}}" mat-raised-button><mat-icon>wysiwyg</mat-icon></a>
        </td>
      </ng-container>
    <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th >
        <td mat-cell *matCellDef="let element"> 
          <a class="delete-button" (click)="deleteComment(element.id)" mat-raised-button><mat-icon>delete</mat-icon></a>
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  