<div class="register-card mat-elevation-z6">
  <h3 class="primary-color">Create new account</h3>
  <form>
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput #username placeholder="Username">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput #email placeholder="Email">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input #pass matInput type="password">
    </mat-form-field>
    <button mat-raised-button type="button" class="register-button primary-background" (click)="signupButtonClicked(username.value, email.value, pass.value)">Sign up</button>
    <p>Already a member? <a routerLink="/login" class="primary-color">Login</a ></p>
  </form>
</div>

