<div *ngIf="post && post.user != undefined" class="post-card mat-elevation-z6">
  <div class="info-container">
    <div class="profile-container">
      <div class="profile-img-container">
        <img *ngIf="post.user.profile_pic" src="{{post.user.profile_pic}}">
        <img *ngIf="!post.user.profile_pic" src="assets/web/icons/empty_profile_icon.svg">
      </div>
      <div class="profile-name-container">
        <a routerLink="/main/profile/{{post.user.id}}">{{post.user.person.username}}</a>
        <button [matMenuTriggerFor]="menu" class="buttonCont"><mat-icon>more_vert</mat-icon></button>
        <mat-menu #menu="matMenu">
          <button *ngIf="user && user.id == post.user.id" mat-menu-item (click)="onDeleteDialog()">Delete</button>
          <button *ngIf="user && user.id != post.user.id" mat-menu-item (click)="onReportDialog()">Report</button>
        </mat-menu>
      </div>
    </div>
    <div class="title-container">
      <p>{{post.title}}</p>
    </div>
  </div>
  <div class="img-container">
    <img src="{{post.content}}">
    <img class="img-blur" src="{{post.content}}">
  </div>
  <div class="button-container">
    <button class="not-liked" *ngIf="!liked" (click)="onLike()" ><mat-icon>favorite_outline</mat-icon></button>
    <button class="liked" *ngIf="liked" (click)="onLike()" ><mat-icon>favorite_fill</mat-icon></button>
    <button class="comment" (click)="onOpenComments()"><mat-icon>comment</mat-icon></button>

    <p>Comments: {{comments ? comments.length : 0}}</p>
  </div>


  <div class="info-container">
    <div class="about-container">
      <p>{{post.about}}</p>
    </div>
  </div>
</div>
