<div *ngIf="post && post.user != undefined" class="post-card mat-elevation-z6">
  <div class="info-container">
    <div class="profile-container">
      <div class="profile-img-container">
        <img src="{{post.user.profile_pic}}">
      </div>
      <div class="profile-name-container">
        <a routerLink="/main/profile/{{post.user.id}}">{{post.user.person.username}}</a>
      </div>
    </div>
    <div class="title-container">
      <p>{{post.title}}</p>
    </div>
  </div>
  <div class="img-container">
    <img src="{{post.content}}">
    <img class="img-blur" src="{{post.content}}">
  </div>
  <div class="button-container">
    <button class="not-liked" *ngIf="!liked" (click)="onLike()" ><mat-icon>favorite_outline</mat-icon></button>
    <button class="liked" *ngIf="liked" (click)="onLike()" ><mat-icon>favorite_fill</mat-icon></button>
    <button class="comment" (click)="onOpenComments()"><mat-icon>comment</mat-icon></button>
    <p>Comments: {{comments ? comments.length : 0}}</p>
  </div>
  <div class="info-container">
    <div class="about-container">
      <p>{{post.about}}</p>
    </div>
  </div>
</div>
