table{
  width: 100%;
}

.comm-button{
  background-color: teal;
}

.post-button{
  background-color: teal;
}

.block-button{
  background-color: #ec4b4b;
}
.block-button:hover{
  background-color: red;
}

.unblock-button{
  background-color: darkgrey;
}
.unblock-button:hover{
  background-color: green;
}

.mat-header-row{
  background-color: teal;
  height: 40px;
}

.mat-column-id{
  color: white;
  width: 5%;
  border-right: solid 1px rgba(255, 255, 255, 0.12);
  text-align: left;
}

.mat-column-username,
.mat-column-name,
.mat-column-surname,
.mat-column-email,
.mat-column-comments,
.mat-column-posts,
.mat-column-block{
  color: white;
  width: 14%;
  text-align: center;
}
